<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.titos.movieguide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MoviesApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.titos.movieguide.splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="movieguide"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.titos.movieguide.MainActivity" />

        </activity>
        <activity android:name="com.example.titos.movieguide.SettingsActivity"
            android:label="Settings"
            android:parentActivityName="com.example.titos.movieguide.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">


        </activity>
        <activity android:name="com.example.titos.movieguide.MainActivity"/>
        <activity android:name="com.example.titos.movieguide.DetailFragment"
            android:theme="@style/AppTheme"
            android:label="DetailFragment"
            android:parentActivityName="com.example.titos.movieguide.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">


        </activity>


    </application>

</manifest>
